# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variable files
.env

# OS / Editor junk
.DS_Store
Thumbs.db

# VSCode settings 
.vscode/



